<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<context:annotation-config />

	<task:annotation-driven></task:annotation-driven>

	<context:component-scan base-package="com.rns.web.edo.service" />
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations"  value="file:///home/service/properties/edofox-db.properties"/>
	</bean>

	<bean id="userBo" class="com.rns.web.edo.service.bo.impl.EdoUserBoImpl">
		<property name="executor" ref="executor" />
		<property name="testsDao" ref="testsDao" />
		<property name="filePath"
			value="/home/wwwedofox/public_html/test/json_test_files/" />
		<property name="txManager" ref="transactionManager" />
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"></property>
	</bean>

	<bean id="adminBo" class="com.rns.web.edo.service.bo.impl.EdoAdminBoImpl">
		<property name="executor" ref="executor" />
		<property name="testsDao" ref="testsDao" />
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"></property>
		<property name="txManager" ref="transactionManager" />
	</bean>
	
	<bean id="taskService" class="com.rns.web.edo.service.util.EdoBackupRoutine">
		<property name="adminBo" ref="adminBo"></property>
	</bean>
	
	<bean id="videoRoutine" class="com.rns.web.edo.service.VideoExportScheduler">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
		<property name="executor" ref="executor" />
		<property name="testsDao" ref="testsDao" />
	</bean>


	<bean id="executor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="10" />
		<property name="WaitForTasksToCompleteOnShutdown" value="true" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<constructor-arg ref="dataSource" />
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="${db.jdbcurl}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
		<!-- <property name="url" value="jdbc:mysql://localhost:3306/edo_prod" 
			/> <property name="username" value="root" /> <property name="password" value="" 
			/> -->
		<property name="testOnReturn" value="true" />
		<property name="testOnBorrow" value="true" />
		<property name="testWhileIdle" value="true" />
		<property name="validationQuery" value="SELECT 1" />
		<!-- <property name="initialSize" value="8" /> <property name="maxActive" 
			value="20" /> <property name="maxIdle" value="20" /> <property name="minIdle" 
			value="0" /> -->
		<property name="initialSize" value="50" />
		<property name="maxActive" value="200" />
		<property name="maxIdle" value="50" />
		<property name="minIdle" value="0" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="transactionFactory">
			<bean class="org.mybatis.spring.transaction.SpringManagedTransactionFactory" />
		</property>
	</bean>

	<bean id="testsDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.rns.web.edo.service.dao.EdoTestsDao" />
	</bean>


	<!-- Hibernate 4 SessionFactory Bean definition -->
	<bean id="hibernate4AnnotatedSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.rns.web.edo.service.domain.jpa.EdoQuestionEntity</value>
				<value>com.rns.web.edo.service.domain.jpa.EdoAnswerEntity</value>
				<value>com.rns.web.edo.service.domain.jpa.EdoTestStatusEntity</value>
				<value>com.rns.web.edo.service.domain.jpa.EdoUplinkStatus</value>
				<value>com.rns.web.edo.service.domain.jpa.EdoLiveSession</value>
				<value>com.rns.web.edo.service.domain.jpa.EdoVideoLecture</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.generate_statistics">true</prop>
				<!-- <prop key="hibernate.hbm2ddl.auto">update</prop> -->
				<!-- <prop key="hibernate.connection.release_mode">after_statement</prop> -->
				<!-- <prop key="connection.provider_class"> org.hibernate.connection.C3P0ConnectionProvider 
					</prop> -->
			</props>
		</property>
	</bean>

</beans>