<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rns.web.edo.service.dao.EdoTestsDao">
	<!-- result maps -->
	<resultMap type="com.rns.web.edo.service.domain.EdoSubject"
		id="chapters">
		<id property="id" column="subject_id" />
		<result property="subjectName" column="subject" />

		<collection property="chapters" javaType="List"
			ofType="com.rns.web.edo.service.domain.EdoChapter">
			<id property="chapterId" column="id" />
			<result property="chapterName" column="chapter_name" />
			<result property="std" column="class" />
		</collection>

	</resultMap>


	<select id="getAllSubjects" resultMap="chapters">
		SELECT * FROM
		test_subjects left join chapters on test_subjects.subject_id =
		chapters.subject;
	</select>

	<insert id="addQuestion" parameterType="com.rns.web.edo.service.domain.EdoQuestion"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		<!-- <foreach collection="test.test" item="question" index="index"> insert 
			into test_result (test_id,student_id,question_id,option_selected,flagged) 
			values(${test.id}, ${student.id},${question.qn_id}, '${question.answer}',0); 
			</foreach> -->
		insert into test_questions
		(subject_id,question,option1,option2,option3,option4,correct_answer,question_img_url,
		solution,weightage,negative_marks,created_date,question_type,exam_type,
		<if test="chapter != null &amp;&amp; chapter.chapterId != null">
			chapter,
		</if>
		<if test="instituteId != null">
			institute_id,
		</if>
		level, ref_id)
		values
		(${subjectId},'${question}','${option1}','${option2}','${option3}','${option4}','${correctAnswer}','${questionImageUrl}',
		'${solution}',${weightage},${negativeMarks},CURRENT_TIMESTAMP,'${type}','${examType}',
		<if test="chapter != null &amp;&amp; chapter.chapterId != null">
		${chapter.chapterId},
		</if>
		<if test="instituteId != null">
			${instituteId},
		</if>
		<if test="level != null">
			${level}, 
		</if>
		<if test="level == null">
			NULL, 
		</if>
		'${referenceId}')
	</insert>

	<select id="getNoOfQuestionsByChapter" resultType="Integer"
		parameterType="Integer">
		select count(*) from test_questions where
		chapter = ${value};
	</select>

	<select id="getNoOfQuestionsByDate" resultType="Integer"
		parameterType="String">
		select count(*) from test_questions where
		created_date >= '${value}';
	</select>

	<select id="getQuestionsByRefId" resultMap="questions"
		parameterType="String">
		select * from test_questions where ref_id =
		'${value}';
	</select>
	
	<select id="getQuestionsByExam" resultMap="questions" parameterType="com.rns.web.edo.service.domain.EdoQuestion">
		select * from test_questions where exam_type like '%${examType}%' AND subject_id = ${subjectId} AND status = 'A';
	</select>

	<update id="updateQuestion" parameterType="com.rns.web.edo.service.domain.EdoQuestion">
		update test_questions
		set question_img_url = '${questionImageUrl}', solution_img_url =
		'${solutionImageUrl}' 
		<if test="option1ImageUrl != null">
			, option1_img_url = '${option1ImageUrl}'
		</if>
		<if test="option2ImageUrl != null">
			, option2_img_url = '${option2ImageUrl}'
		</if>
		<if test="option3ImageUrl != null">
			, option3_img_url = '${option3ImageUrl}'
		</if>
		<if test="option4ImageUrl != null">
			, option4_img_url = '${option4ImageUrl}'
		</if>
		where id = ${id}
	</update>

	<insert id="addQuestionsBatch" parameterType="java.util.List">
		insert into test_questions
		(subject_id,question,option1,option2,option3,option4,correct_answer,question_img_url,
		solution,weightage,negative_marks,created_date,question_type,exam_type,chapter,
		level, ref_id)
		values
		<foreach item="question" index="index" collection="list" open="("
			separator="),(" close=")">
			(${question.subjectId},'${question.question}','${question.option1}','${question.option2}','${question.option3}','${question.option4}','${question.correctAnswer}','${question.questionImageUrl}',
			'${question.solution}',${question.weightage},${question.negativeMarks},CURRENT_TIMESTAMP,'${question.type}','${question.examType}',${question.chapter.chapterId},
			${question.level}, '${question.referenceId}')
		</foreach>
	</insert>


	<select id="getNextQuestion" resultMap="questions"
		parameterType="com.rns.web.edo.service.domain.EdoQuestion">
		SELECT * FROM test_questions WHERE 
		<if test="id == null">
		subject_id = ${subjectId} AND
		chapter = ${chapter.chapterId}
		<if test="level != null">
			AND level between ${level - 1} AND ${level}
		</if>
		<if test="type != null &amp;&amp; isCorrect">
			AND question_type = '${type}'
		</if>
		<if test="type != null &amp;&amp; !isCorrect">
			AND (question_type != '${type}' OR question_type IS NULL)
		</if>
		AND length(trim(option1)) > 0 AND (status IS NULL or status = 'A')
		ORDER BY RAND() LIMIT ${questionNumber};
		</if>
		<if test="id != null">
			id = '${id}'
		</if>
		
	</select>

	<select id="getFixableQuestions" resultMap="questions"
		parameterType="map">
		SELECT * FROM test_questions WHERE subject_id = ${subjectId}
		<if test="chapterId != null">
			AND chapter = ${chapterId}
		</if>
		AND (question like '%$$%' OR option1 like '%$$%' OR option2 like
		'%$$%' OR option3 like '%$$%' OR option4 like '%$$%' OR solution like
		'%$$%')
		AND (
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			question like '%${keyword}%'
		</foreach>
		OR
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			option1 like '%${keyword}%'
		</foreach>
		OR
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			option2 like '%${keyword}%'
		</foreach>
		OR
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			option3 like '%${keyword}%'
		</foreach>
		OR
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			option4 like '%${keyword}%'
		</foreach>
		OR
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			solution like '%${keyword}%'
		</foreach>
		)
	</select>

	<update id="fixQuestions" parameterType="java.util.List">

		<foreach collection="list" item="question" index="index" open="" close="" separator=";">
			update test_questions
			<set>
				question = '${question.question}',
				option1 = '${question.option1}',
				option2 = '${question.option2}',
				option3 = '${question.option3}',
				option4 = '${question.option4}',
				solution = '${question.solution}'
			</set>
			where id = ${question.id}
		</foreach>
	</update>
	
	<update id="fixQuestion" parameterType="com.rns.web.edo.service.domain.EdoQuestion">
		update test_questions
			<set>
				question = '${question}',
				option1 = '${option1}',
				option2 = '${option2}',
				option3 = '${option3}',
				option4 = '${option4}',
				solution = '${solution}'
			</set>
			where id = ${id}
	</update>
	
	<insert id="createExam" parameterType="com.rns.web.edo.service.domain.EdoServiceRequest">
		<!-- <foreach collection="test.test" item="question" index="index">
		insert into test_result (test_id,student_id,question_id,option_selected,flagged) values(${test.id}, ${student.id},${question.qn_id}, '${question.answer}',0);
		</foreach> -->
		insert into test_questions_map (test_id,question_id,created_date,question_number,section, weightage, negative_marks) values
		<foreach item="question" index="index" collection="test.test" open="(" separator="),(" close=")">
            ${test.id}, ${question.id}, CURRENT_TIMESTAMP, ${question.qn_id}, '${question.subject}', ${question.weightage}, ${question.negativeMarks}
        </foreach>
	</insert>
	
	<insert id="addQuestionQuery" parameterType="com.rns.web.edo.service.domain.EdoTestStudentMap">
		insert into exam_feedback (feedback, created_date, 
		<if test="test.currentQuestion.id != null">
			question_id, 
		</if>
		<if test="test.id != null">
			test_id,
		</if>
		<if test="test.currentQuestion.chapter != null &amp;&amp; test.currentQuestion.chapter.chapterId != null">
		chapter_id, 
		</if>
		<if test="test.currentQuestion.subjectId != null">
		subject_id,
		</if>
		<if test="test.currentQuestion.feedback.id != null">
		video_id,
		</if>
		
		 type, student_id, institute_id)
		values ('${test.currentQuestion.feedback.feedback}', CURRENT_TIMESTAMP, 
		<if test="test.currentQuestion.id != null">
			${test.currentQuestion.id}, 
		</if>
		<if test="test.id != null">
			${test.id},
		</if>
		
		<if test="test.currentQuestion.chapter != null">
			${test.currentQuestion.chapter.chapterId}, 
		</if>
		<if test="test.currentQuestion.subjectId != null">
		${test.currentQuestion.subjectId},
		</if>
		<if test="test.currentQuestion.feedback.id != null">
		${test.currentQuestion.feedback.id},
		</if>
		'${test.currentQuestion.feedback.type}', ${student.id}, ${student.instituteId});
	</insert>
	
	
	
	<update id="addResolution" parameterType="com.rns.web.edo.service.domain.EdoFeedback">
		update exam_feedback set resolution = '${resolution}', answered_by = ${studentId} where question_id = ${questionId} AND resolution is NULL
	</update>
	
	<resultMap id="feedbackData" type="com.rns.web.edo.service.domain.EdoQuestion">
		<result column="question" property="question" />
		<result column="id" property="id" />
		<result column="question_img_url" property="questionImageUrl" />
		<result column="frequency" property="feedback.frequency"/>
		<result column="resolution" property="feedback.resolution"/>
		<result column="feedback_resolution_text" property="feedback.feedbackResolutionText"/>
		<result column="feedback_resolution_video_url" property="feedback.feedbackVideoUrl"/>
		<result column="subject_Id" property="subjectId"/>
		<result column="exam_feedback.created_date" property="feedback.createdDate"/>
	</resultMap>
	
	<resultMap id="videoFeedbackData" type="com.rns.web.edo.service.domain.EdoQuestion">
		<result column="feedback" property="feedback.feedback"/>
		<result column="resolution" property="feedback.resolution"/>
		<result column="feedback_resolution_text" property="feedback.feedbackResolutionText"/>
		<result column="feedback_resolution_video_url" property="feedback.feedbackVideoUrl"/>
		<result column="subject_Id" property="subjectId"/>
		<result column="video_url" property="feedback.sourceVideoUrl"/>
		<result column="created_date" property="feedback.createdDate"/>
		<result column="video_name" property="feedback.sourceVideoName"/>
	</resultMap>
	
	<select id="getFeedbackData" parameterType="com.rns.web.edo.service.domain.EdoServiceRequest" resultMap="feedbackData">
		SELECT count(*) as frequency, question, question_img_url,resolution,test_questions.id,feedback_resolution_text,feedback_resolution_video_url, exam_feedback.subject_Id, exam_feedback.created_date FROM exam_feedback 
		join test_questions on exam_feedback.question_id = test_questions.id 
		where 1 
		<if test="requestType == 'Unresolved'">
			AND resolution is NULL
		</if>
		<if test="requestType == 'Resolved'">
			AND resolution is NOT NULL
		</if>
		<if test="fromDate != null &amp;&amp; toDate != null">
			AND exam_feedback.created_date between '${fromDate}' AND '${toDate}'
		</if>
		<if test="student != null  &amp;&amp; student.id != null">
			AND student_id = ${student.id}
		</if>
		AND exam_feedback.institute_id = ${institute.id}
		group by question_id order by exam_feedback.created_date desc;
	</select>
	
	<select id="getVideoFeedback" parameterType="com.rns.web.edo.service.domain.EdoServiceRequest" resultMap="videoFeedbackData">
		SELECT feedback,exam_feedback.created_date,video_lectures.subject_id,type,resolution,video_id,video_url,video_name
		from exam_feedback join video_lectures on exam_feedback.video_id = video_lectures.id
		where 1
		<if test="requestType == 'Unresolved'">
			AND resolution is NULL
		</if>
		<if test="requestType == 'Resolved'">
			AND resolution is NOT NULL
		</if>
		<if test="fromDate != null &amp;&amp; toDate != null">
			AND exam_feedback.created_date between '${fromDate}' AND '${toDate}'
		</if>
		<if test="student != null  &amp;&amp; student.id != null">
			AND student_id = ${student.id}
		</if>
		AND exam_feedback.institute_id = ${institute.id}
		order by exam_feedback.created_date desc;
	
	</select>
	
	<resultMap id="feedbacks" type="com.rns.web.edo.service.domain.EdoFeedback">
		<result column="feedback" property="feedback" />
		<result column="created_date" property="createdDate" />
		<result column="type" property="type"/>
		<result column="resolution" property="resolution"/>
		<result column="feedback_resolution_text" property="feedbackResolutionText"/>
		<result column="feedback_resolution_video_url" property="feedbackVideoUrl"/>
	</resultMap>
	
	<select id="getQuestionFeedbacks" parameterType="Integer" resultMap="feedbacks">
		select * from exam_feedback where question_id = ${value} order by created_date desc;
	</select>
	
</mapper>