<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rns.web.edo.service.dao.EdoTestsDao">
	<!-- result maps -->
	<resultMap type="com.rns.web.edo.service.domain.EdoSubject" id="chapters">
		<id property="id" column="subject_id" />
		<result property="subjectName" column="subject" />

		<collection property="chapters" javaType="List"
			ofType="com.rns.web.edo.service.domain.EdoChapter">
			<id property="chapterId" column="id" />
			<result property="chapterName" column="chapter_name" />
			<result property="std" column="class" />
		</collection>

	</resultMap>


	<select id="getAllSubjects" resultMap="chapters" parameterType="Integer">
		SELECT * FROM
		test_subjects left join chapters on test_subjects.subject_id =
		chapters.subject 
		<if test="value != null">
		where (test_subjects.institute_id is null OR test_subjects.institute_id = ${value})
		AND (chapters.institute_id = ${value} OR chapters.institute_id IS NULL)
		AND (chapters.status != 'D' OR chapters.status is null)
		</if>
		;
	</select>
	
	<insert id="addQuestion" parameterType="com.rns.web.edo.service.domain.EdoQuestion"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		<!-- <foreach collection="test.test" item="question" index="index"> insert 
			into test_result (test_id,student_id,question_id,option_selected,flagged) 
			values(${test.id}, ${student.id},${question.qn_id}, '${question.answer}',0); 
			</foreach> -->
		insert into test_questions
		(subject_id,question,option1,option2,option3,option4,correct_answer,question_img_url,
		solution,solution_img_url,weightage,negative_marks,created_date,question_type,exam_type,
		<if test="chapter != null &amp;&amp; chapter.chapterId != null">
			chapter,
		</if>
		<if test="instituteId != null">
			institute_id,
		</if>
		<if test="topicId != null">
			topic_id,
		</if>
		<if test="board_id != null">
			board_id,
		</if>
		<if test="class_id != null">
			class_id,
		</if>
		<if test="level != null">
			level,
		</if>
		short_explanation,
		ref_id, que_status)
		values
		(${subjectId},'${question}','${option1}','${option2}','${option3}','${option4}','${correctAnswer}','${questionImageUrl}',
		'${solution}','${solutionImageUrl}',${weightage},${negativeMarks},CURRENT_TIMESTAMP,'${type}','${examType}',
		<if test="chapter != null &amp;&amp; chapter.chapterId != null">
		${chapter.chapterId},
		</if>
		<if test="instituteId != null">
			${instituteId},
		</if>
		<if test="topicId != null">
			${topicId},
		</if>
		<if test="level != null">
			${level}, 
		</if>
		<!-- <if test="level == null">
			NULL, 
		</if> -->
		<if test="board_id != null">
			${board_id},
		</if>
		<if test="class_id != null">
			${class_id},
		</if>
		'${short_explanation}',
		'${referenceId}', '${status}')
	</insert>
	
	<insert id="addQuestionDetails" parameterType="com.rns.web.edo.service.domain.EdoQuestion">
	insert into questions_details (question_id, name_of_publication, page_number, paragraph_number,line_no, self_created,
	neet_no_of_ques, jee_no_of_ques, setter_id, mht_cet_no_of_ques,setter_criteria, setter_question_type, setter_difficulty_level)
	values (${id}, '${details.name_of_publication}', '${details.page_number}', '${details.paragraph_number}', '${details.line_no}',
	${details.self_created}, ${details.neet_no_of_ques}, ${details.jee_no_of_ques}, ${details.setter_id}, 
	${details.mht_cet_no_of_ques}, '${details.setter_criteria}', '${details.setter_question_type}', '${details.setter_difficulty_level}')
	</insert>
	
	<select id="getCriterias" resultMap="criteria">
		SELECT * FROM question_criteria
	</select>
	
	<select id="getDifficulties" resultMap="difficulty">
		SELECT * FROM question_difficulty_level
	</select>

	<select id="getNoOfQuestionsByChapter" resultType="Integer"
		parameterType="Integer">
		select count(*) from test_questions where
		chapter = ${value};
	</select>

	<select id="getNoOfQuestionsByDate" resultType="Integer"
		parameterType="String">
		select count(*) from test_questions where
		created_date >= '${value}';
	</select>

	<select id="getQuestionsByRefId" resultMap="questions"
		parameterType="String">
		select * from test_questions where ref_id =
		'${value}';
	</select>
	
	<select id="getQuestionsByExam" resultMap="questions" parameterType="com.rns.web.edo.service.domain.EdoQuestion">
		select * from test_questions where exam_type like '%${examType}%' AND subject_id = ${subjectId} AND status = 'A';
	</select>

	<update id="updateQuestion" parameterType="com.rns.web.edo.service.domain.EdoQuestion">
		update test_questions
		set question_img_url = '${questionImageUrl}', solution_img_url =
		'${solutionImageUrl}' 
		<if test="option1ImageUrl != null">
			, option1_img_url = '${option1ImageUrl}'
		</if>
		<if test="option2ImageUrl != null">
			, option2_img_url = '${option2ImageUrl}'
		</if>
		<if test="option3ImageUrl != null">
			, option3_img_url = '${option3ImageUrl}'
		</if>
		<if test="option4ImageUrl != null">
			, option4_img_url = '${option4ImageUrl}'
		</if>
		where id = ${id}
	</update>

	<insert id="addQuestionsBatch" parameterType="java.util.List">
		insert into test_questions
		(subject_id,question,option1,option2,option3,option4,correct_answer,question_img_url,
		solution,weightage,negative_marks,created_date,question_type,exam_type,chapter,
		level, ref_id)
		values
		<foreach item="question" index="index" collection="list" open="("
			separator="),(" close=")">
			(${question.subjectId},'${question.question}','${question.option1}','${question.option2}','${question.option3}','${question.option4}','${question.correctAnswer}','${question.questionImageUrl}',
			'${question.solution}',${question.weightage},${question.negativeMarks},CURRENT_TIMESTAMP,'${question.type}','${question.examType}',${question.chapter.chapterId},
			${question.level}, '${question.referenceId}')
		</foreach>
	</insert>


	<select id="getNextQuestion" resultMap="questions"
		parameterType="com.rns.web.edo.service.domain.EdoQuestion">
		SELECT * FROM test_questions WHERE 
		<if test="id == null">
		subject_id = ${subjectId} AND
		chapter = ${chapter.chapterId}
		<if test="level != null">
			AND level between ${level - 1} AND ${level}
		</if>
		<if test="type != null &amp;&amp; isCorrect">
			AND question_type = '${type}'
		</if>
		<if test="type != null &amp;&amp; !isCorrect">
			AND (question_type != '${type}' OR question_type IS NULL)
		</if>
		AND length(trim(option1)) > 0 AND (status IS NULL or status = 'A')
		ORDER BY RAND() LIMIT ${questionNumber};
		</if>
		<if test="id != null">
			id = '${id}'
		</if>
		
	</select>

	<select id="getFixableQuestions" resultMap="questions"
		parameterType="map">
		SELECT * FROM test_questions WHERE subject_id = ${subjectId}
		<if test="chapterId != null">
			AND chapter = ${chapterId}
		</if>
		AND (question like '%$$%' OR option1 like '%$$%' OR option2 like
		'%$$%' OR option3 like '%$$%' OR option4 like '%$$%' OR solution like
		'%$$%')
		AND (
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			question like '%${keyword}%'
		</foreach>
		OR
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			option1 like '%${keyword}%'
		</foreach>
		OR
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			option2 like '%${keyword}%'
		</foreach>
		OR
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			option3 like '%${keyword}%'
		</foreach>
		OR
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			option4 like '%${keyword}%'
		</foreach>
		OR
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			solution like '%${keyword}%'
		</foreach>
		)
	</select>

	<update id="fixQuestions" parameterType="java.util.List">

		<foreach collection="list" item="question" index="index" open="" close="" separator=";">
			update test_questions
			<set>
				question = '${question.question}',
				option1 = '${question.option1}',
				option2 = '${question.option2}',
				option3 = '${question.option3}',
				option4 = '${question.option4}',
				solution = '${question.solution}'
			</set>
			where id = ${question.id}
		</foreach>
	</update>
	
	<update id="fixQuestion" parameterType="com.rns.web.edo.service.domain.EdoQuestion">
		update test_questions
			<set>
				question = '${question}',
				option1 = '${option1}',
				option2 = '${option2}',
				option3 = '${option3}',
				option4 = '${option4}',
				solution = '${solution}'
			</set>
			where id = ${id}
	</update>
	
	<insert id="createExam" parameterType="com.rns.web.edo.service.domain.EdoServiceRequest">
		<!-- <foreach collection="test.test" item="question" index="index">
		insert into test_result (test_id,student_id,question_id,option_selected,flagged) values(${test.id}, ${student.id},${question.qn_id}, '${question.answer}',0);
		</foreach> -->
		insert into test_questions_map (test_id,question_id,created_date,question_number,section, weightage, negative_marks) values
		<foreach item="question" index="index" collection="test.test" open="(" separator="),(" close=")">
            ${test.id}, ${question.id}, CURRENT_TIMESTAMP, ${question.qn_id}, '${question.subject}', ${question.weightage}, ${question.negativeMarks}
        </foreach>
	</insert>
	
	<insert id="addQuestionQuery" parameterType="com.rns.web.edo.service.domain.EdoTestStudentMap" useGeneratedKeys="true" keyProperty="mapId" keyColumn="id">
		insert into exam_feedback (feedback, created_date, 
		<if test="test.currentQuestion.id != null">
			question_id, 
		</if>
		<if test="test.id != null">
			test_id,
		</if>
		<if test="test.currentQuestion.chapter != null &amp;&amp; test.currentQuestion.chapter.chapterId != null">
		chapter_id, 
		</if>
		<if test="test.currentQuestion.subjectId != null">
		subject_id,
		</if>
		<if test="test.currentQuestion.feedback.id != null">
		video_id,
		</if>
		
		 type, student_id, institute_id)
		values ('${test.currentQuestion.feedback.feedback}', CURRENT_TIMESTAMP, 
		<if test="test.currentQuestion.id != null">
			${test.currentQuestion.id}, 
		</if>
		<if test="test.id != null">
			${test.id},
		</if>
		
		<if test="test.currentQuestion.chapter != null  &amp;&amp; test.currentQuestion.chapter.chapterId != null">
			${test.currentQuestion.chapter.chapterId}, 
		</if>
		<if test="test.currentQuestion.subjectId != null">
		${test.currentQuestion.subjectId},
		</if>
		<if test="test.currentQuestion.feedback.id != null">
		${test.currentQuestion.feedback.id},
		</if>
		'${test.currentQuestion.feedback.type}', ${student.id}, ${student.instituteId});
	</insert>
	
	<update id="updateDoubtFile" parameterType="com.rns.web.edo.service.domain.EdoFeedback">
		update exam_feedback set attachment_link = '${attachment}' where id = ${id}
	</update>
	
	
	
	<update id="addResolution" parameterType="com.rns.web.edo.service.domain.EdoFeedback">
		update exam_feedback set resolution = '${resolution}', answered_by = ${studentId},
		feedback_resolution_text = '${feedbackResolutionText}'
		 <if test="feedbackVideoUrl != null">
		 	, feedback_resolution_video_url = '${feedbackVideoUrl}'
		 </if>
		where 1
		<if test="questionId != null">
			AND question_id = ${questionId}
		</if>
		<if test="videoId != null">
			AND video_id = ${videoId}
		</if>
		<if test="id != null">
			AND id = ${id}
		</if>
		
		AND resolution is NULL
	</update>
	
	<resultMap id="feedbackData" type="com.rns.web.edo.service.domain.EdoQuestion">
		<result column="question" property="question" />
		<result column="id" property="id" />
		<result column="question_img_url" property="questionImageUrl" />
		<result column="frequency" property="feedback.frequency"/>
		<result column="resolution" property="feedback.resolution"/>
		<result column="feedback_resolution_text" property="feedback.feedbackResolutionText"/>
		<result column="feedback_resolution_video_url" property="feedback.feedbackVideoUrl"/>
		<result column="subject_Id" property="subjectId"/>
		<result column="created_date" property="feedback.createdDate"/>
		<result column="subject" property="subject"/>
		<result column="chapter_name" property="chapter.chapterName"/>
		<result column="answeredBy" property="feedback.answeredBy"/>
		<result column="feedback_resolution_image_url" property="feedback.feedbackResolutionImageUrl"/>
		<result column="updated_date" property="feedback.lastUpdated"/>
		<result column="feedback" property="feedback.feedback"/>
		<result column="feedbackId" property="feedback.id"/>
		<result column="attachment_link" property="feedback.attachment"/>
		<result column="askedBy" property="feedback.askedBy"/>
 	</resultMap>
	
	<resultMap id="videoFeedbackData" type="com.rns.web.edo.service.domain.EdoQuestion">
		<!-- <result column="feedback" property="feedback.feedback"/> -->
		<result column="frequency" property="feedback.frequency"/>
		<result column="resolution" property="feedback.resolution"/>
		<result column="feedback_resolution_text" property="feedback.feedbackResolutionText"/>
		<result column="feedback_resolution_video_url" property="feedback.feedbackVideoUrl"/>
		<result column="subject_Id" property="subjectId"/>
		<result column="video_url" property="feedback.sourceVideoUrl"/>
		<result column="created_date" property="feedback.createdDate"/>
		<result column="video_name" property="feedback.sourceVideoName"/>
		<result column="video_id" property="id"/>
		<result column="feedback_resolution_image_url" property="feedback.feedbackResolutionImageUrl"/>
		<result column="updated_date" property="feedback.lastUpdated"/>
		<result column="subject" property="subject"/>
		<result column="chapter_name" property="chapter.chapterName"/>
		<result column="answeredBy" property="feedback.answeredBy"/>
		<result column="feedback" property="feedback.feedback"/>
		<result column="feedbackId" property="feedback.id"/>
		<result column="attachment_link" property="feedback.attachment"/>
	</resultMap>
	
	<select id="getFeedbackData" parameterType="com.rns.web.edo.service.domain.EdoServiceRequest" resultMap="feedbackData">
		SELECT 
		<if test="student == null  || student.id == null || student.accessType == 'Teacher'">
			count(*) as frequency, 
		</if>
		question, question_img_url,resolution,test_questions.id,
		feedback_resolution_text,feedback_resolution_video_url, exam_feedback.subject_Id, exam_feedback.created_date,feedback_resolution_text,
		test_subjects.subject,chapter_name, updated_date, feedback_resolution_image_url, feedback
		<if test="student != null &amp;&amp; student.id != null &amp;&amp; student.accessType == null" >
			,student.name as answeredBy,exam_feedback.id as feedbackId,attachment_link
		</if>
		FROM exam_feedback 
		join test_questions on exam_feedback.question_id = test_questions.id 
		left join test_subjects on test_subjects.subject_id = exam_feedback.subject_id
		left join chapters on exam_feedback.chapter_id = chapters.id
		<if test="student != null &amp;&amp; student.id != null &amp;&amp; student.accessType == null" >
			left join student on exam_feedback.answered_by = student.id
		</if>
		where 1 
		<if test="requestType == 'Unresolved'">
			AND resolution is NULL
		</if>
		<if test="requestType == 'Resolved'">
			AND resolution is NOT NULL
		</if>
		<if test="fromDate != null &amp;&amp; toDate != null">
			AND exam_feedback.created_date between '${fromDate}' AND '${toDate}'
		</if>
		<if test="student != null  &amp;&amp; student.id != null &amp;&amp; student.accessType == null">
			AND student_id = ${student.id}
		</if>
		<if test="student != null  &amp;&amp; student.accessType == 'Teacher'">
			AND student_id in (select student_id from student_institute where institute_id =  ${institute.id} AND package_id in ( select package_id from student_institute where student_id = ${student.id}))
		</if>
		<if test="subjectId != null">
			AND exam_feedback.subject_id = ${subjectId}
		</if>
		<if test="question != null &amp;&amp; question.chapter != null &amp;&amp; question.chapter.chapterId != null">
			AND exam_feedback.chapter_id = ${question.chapter.chapterId}
		</if>
		AND exam_feedback.institute_id = ${institute.id}
		<if test="student == null  || student.id == null || student.accessType == 'Teacher'">
			group by question_id
		</if>
		
		
		order by exam_feedback.created_date desc;
	</select>
	
	<select id="getVideoFeedback" parameterType="com.rns.web.edo.service.domain.EdoServiceRequest" resultMap="videoFeedbackData">
		SELECT 
		<if test="student == null  || student.id == null || student.accessType == 'Teacher'">
			count(*) as frequency, 
		</if>
		exam_feedback.created_date,video_lectures.subject_id,exam_feedback.type,resolution,video_id,video_url,video_name,
		feedback_resolution_text, feedback_resolution_image_url, test_subjects.subject,chapter_name, updated_date, feedback
		<if test="student != null &amp;&amp; student.id != null &amp;&amp; student.accessType == null" >
			,student.name as answeredBy,exam_feedback.id as feedbackId,attachment_link
		</if>
		from exam_feedback 
		join video_lectures on exam_feedback.video_id = video_lectures.id
		left join test_subjects on test_subjects.subject_id = exam_feedback.subject_id
		left join chapters on exam_feedback.chapter_id = chapters.id
		<if test="student != null &amp;&amp; student.id != null &amp;&amp; student.accessType == null" >
			left join student on exam_feedback.answered_by = student.id
		</if>
		where 1
		<if test="requestType == 'Unresolved'">
			AND resolution is NULL
		</if>
		<if test="requestType == 'Resolved'">
			AND resolution is NOT NULL
		</if>
		<if test="fromDate != null &amp;&amp; toDate != null">
			AND exam_feedback.created_date between '${fromDate}' AND '${toDate}'
		</if>
		<if test="student != null  &amp;&amp; student.id != null &amp;&amp; student.accessType == null">
			AND student_id = ${student.id}
		</if>
		<if test="subjectId != null">
			AND exam_feedback.subject_id = ${subjectId}
		</if>
		<if test="question != null &amp;&amp; question.chapter != null &amp;&amp; question.chapter.chapterId != null">
			AND exam_feedback.chapter_id = ${question.chapter.chapterId}
		</if>
		AND exam_feedback.institute_id = ${institute.id}
		<if test="student == null  || student.id == null || student.accessType == 'Teacher'">
			group by video_id
		</if>
		
		order by exam_feedback.created_date desc;
	
	</select>
	
	<select id="getGeneralFeedback" parameterType="com.rns.web.edo.service.domain.EdoServiceRequest" resultMap="feedbackData">
		SELECT 
		feedback_resolution_text,feedback_resolution_video_url, exam_feedback.subject_Id, exam_feedback.created_date,feedback_resolution_text,
		test_subjects.subject,chapter_name, updated_date, feedback_resolution_image_url, feedback ,student.name as answeredBy,
		exam_feedback.id as feedbackId,exam_feedback.id as id,attachment_link,askedBy.name as askedBy,resolution
		FROM exam_feedback 
		join student as askedBy on exam_feedback.student_id = askedBy.id 
		left join test_subjects on test_subjects.subject_id = exam_feedback.subject_id
		left join chapters on exam_feedback.chapter_id = chapters.id
		left join student on exam_feedback.answered_by = student.id
		where 1 
		<if test="requestType == 'Unresolved'">
			AND resolution is NULL
		</if>
		<if test="requestType == 'Resolved'">
			AND resolution is NOT NULL
		</if>
		<if test="fromDate != null &amp;&amp; toDate != null">
			AND exam_feedback.created_date between '${fromDate}' AND '${toDate}'
		</if>
		<if test="student != null  &amp;&amp; student.id != null &amp;&amp; student.accessType == null">
			AND student_id = ${student.id}
		</if>
		<if test="student != null  &amp;&amp; student.accessType == 'Teacher'">
			AND student_id in (select student_id from student_institute where institute_id =  ${institute.id} AND package_id in ( select package_id from student_institute where student_id = ${student.id}))
		</if>
		<if test="subjectId != null">
			AND exam_feedback.subject_id = ${subjectId}
		</if>
		<if test="question != null &amp;&amp; question.chapter != null &amp;&amp; question.chapter.chapterId != null">
			AND exam_feedback.chapter_id = ${question.chapter.chapterId}
		</if>
		AND exam_feedback.institute_id = ${institute.id} AND video_id is null AND question_id is NULL
		order by exam_feedback.created_date desc;
	</select>
	
	<select id="getFeedbackSummary" parameterType="com.rns.web.edo.service.domain.EdoServiceRequest" resultMap="feedbackData">
		select count(
		<if test="searchFilter == 'Exams' ">
			distinct question_id
		</if>
		<if test="searchFilter == 'Videos' ">
			distinct video_id
		</if>
		<if test="searchFilter == 'General' ">
			id
		</if>
		) as frequency from exam_feedback 
		where 1
		<if test="requestType == 'Unresolved'">
			AND resolution is NULL
		</if>
		<if test="requestType == 'Resolved'">
			AND resolution is NOT NULL
		</if>
		<if test="fromDate != null &amp;&amp; toDate != null">
			AND exam_feedback.created_date between '${fromDate}' AND '${toDate}'
		</if>
		<if test="student != null  &amp;&amp; student.id != null &amp;&amp; student.accessType == null">
			AND student_id = ${student.id}
		</if>
		<if test="student != null  &amp;&amp; student.accessType == 'Teacher'">
			AND student_id in (select student_id from student_institute where institute_id =  ${institute.id} AND package_id in ( select package_id from student_institute where student_id = ${student.id}))
		</if>
		<if test="subjectId != null">
			AND exam_feedback.subject_id = ${subjectId}
		</if>
		<if test="question != null &amp;&amp; question.chapter != null &amp;&amp; question.chapter.chapterId != null">
			AND exam_feedback.chapter_id = ${question.chapter.chapterId}
		</if>
		AND exam_feedback.institute_id = ${institute.id} 
		<if test="searchFilter == 'Exams' ">
			AND question_id is NOT NULL
		</if>
		<if test="searchFilter == 'Videos' ">
			AND video_id is NOT NULL
		</if>
		<if test="searchFilter == 'General' ">
			AND video_id is null AND question_id is NULL
		</if>
		
	</select>
	
	<select id="getDoubtSubjects" parameterType="com.rns.web.edo.service.domain.EdoServiceRequest" resultMap="subjects">
		SELECT distinct exam_feedback.subject_id,subject FROM exam_feedback 
		join test_subjects on exam_feedback.subject_id = test_subjects.subject_id
		where 1
		<if test="student != null  &amp;&amp; student.id != null &amp;&amp; student.accessType == null">
			AND student_id = ${student.id}
		</if>
		<if test="student != null  &amp;&amp; student.accessType == 'Teacher'">
			AND student_id in (select student_id from student_institute where institute_id =  ${institute.id} AND package_id in ( select package_id from student_institute where student_id = ${student.id}))
		</if>

		<if test="searchFilter == 'Exams' ">
			AND question_id is NOT NULL
		</if>
		<if test="searchFilter == 'Videos' ">
			AND video_id is NOT NULL
		</if>
		<if test="searchFilter == 'General' ">
			AND video_id is null AND question_id is NULL
		</if>

	</select>
	
	
	<resultMap id="feedbacks" type="com.rns.web.edo.service.domain.EdoFeedback">
		<result column="feedback" property="feedback" />
		<result column="created_date" property="createdDate" />
		<result column="type" property="type"/>
		<result column="resolution" property="resolution"/>
		<result column="feedback_resolution_text" property="feedbackResolutionText"/>
		<result column="feedback_resolution_video_url" property="feedbackVideoUrl"/>
		<result column="attachment_link" property="attachment"/>
		<result column="answered_by" property="answeredBy"/>
	</resultMap>
	
	<select id="getFeedback" parameterType="Integer" resultMap="feedbacks">
		select * from exam_feedback where id = ${value}
	</select>
	
	<select id="getFeedbackDetails" parameterType="com.rns.web.edo.service.domain.EdoFeedback" resultMap="feedbacks">
		select * from exam_feedback 
		left join student on student.id = exam_feedback.answered_by
		where 1
		<if test="questionId != null">
			AND question_id = ${questionId}
		</if>
		<if test="videoId != null">
			AND video_id = ${videoId}
		</if>
		<if test="id != null">
			AND id = ${id}
		</if>
		<if test="resolution != null">
			AND resolution = '${resolution}'
		</if>
		<if test="resolution == null">
			AND (resolution IS NULL or resolution = 'Unresolved')
		</if>
		LIMIT 1
	</select>
	
	<resultMap id="feedbackDetails" type="com.rns.web.edo.service.domain.EdoTestStudentMap">
		<result column="feedbackId" property="test.currentQuestion.feedback.id" />
		<result column="feedback" property="test.currentQuestion.feedback.feedback" />
		<result column="feedbackDate" property="test.currentQuestion.feedback.createdDate" />
		<result column="type" property="test.currentQuestion.feedback.type"/>
		<result column="resolution" property="test.currentQuestion.feedback.resolution"/>
		<result column="feedback_resolution_text" property="test.currentQuestion.feedback.feedbackResolutionText"/>
		<result column="feedback_resolution_video_url" property="test.currentQuestion.feedback.feedbackVideoUrl"/>
		<result column="question_id" property="test.currentQuestion.feedback.questionId"/>
		<result column="video_id" property="test.currentQuestion.feedback.videoId"/>
		<result column="studentName" property="student.name"/>
		<result column="student_id" property="student.id"/>
		<result column="video_name" property="test.currentQuestion.feedback.sourceVideoName"/>
		<result column="video_url" property="test.currentQuestion.feedback.sourceVideoUrl"/>
		<result column="question" property="test.currentQuestion.question"/>
		<result column="questionStatus" property="test.currentQuestion.status"/>
		<result column="subject_id" property="test.currentQuestion.subjectId"/>
		<result column="subject" property="test.currentQuestion.subject"/>
		<result column="teacher" property="teacherName"/>
		<result column="attachment_link" property="test.currentQuestion.feedback.attachment"/>
		<result column="feedback_resolution_image_url" property="test.currentQuestion.feedback.feedbackResolutionImageUrl"/>
	</resultMap>
	
	<select id="getQuestionFeedbacks" parameterType="com.rns.web.edo.service.domain.EdoTestStudentMap" resultMap="feedbackDetails">
		select exam_feedback.id as feedbackId,exam_feedback.feedback,exam_feedback.created_date as feedbackDate,exam_feedback.resolution,exam_feedback.question_id,
		exam_feedback.video_id,exam_feedback.subject_id,exam_feedback.student_id,exam_feedback.feedback_resolution_text,student.name as studentName,test_questions.status as questionStatus,
		test_questions.question,test_questions.question_img_url,video_lectures.video_name,video_lectures.video_url,test_subjects.subject,solvedBy.name as teacherName,attachment_link,feedback_resolution_image_url
		from exam_feedback
		left join student on exam_feedback.student_id = student.id
		left join test_questions on test_questions.id = exam_feedback.question_id
		left join video_lectures on video_lectures.id = exam_feedback.video_id
		left join test_subjects on test_subjects.subject_id = exam_feedback.subject_id
		left join student as solvedBy on exam_feedback.answered_by = solvedBy.id 
		where 
		<if test="type == 'video'">
			exam_feedback.video_id = ${id} 
		</if>
		<if test="type != 'video'">
			exam_feedback.question_id = ${id} 
		</if>
		<if test="resolution == 'Unresolved'">
			AND exam_feedback.resolution is NULL
		</if>
		<if test="resolution == 'Resolved'">
			AND exam_feedback.resolution is NOT NULL
		</if>
		order by exam_feedback.created_date desc;
	</select>
	
	<select id="getQuestionBank" resultMap="questions" parameterType="com.rns.web.edo.service.domain.EdoQuestion">
		
		SELECT * FROM test_questions 
    	WHERE (status = 'A' or status is NULL) 
    	AND subject_id = ${subjectId} 
    	<if test="level != null">
			AND level between ${level - 1} AND ${level}
		</if>
		<if test="type != null &amp;&amp; type != ''">
			AND question_type = '${type}'
		</if>
		<if test="chapter != null &amp;&amp; chapter.chapterId != null">
			AND chapter = ${chapter.chapterId}
		</if>
		<if test="instituteId != null">
			AND institute_id = ${instituteId}
		</if>
		<if test="instituteId == null">
			AND institute_id IS NULL
		</if>
		
		AND length(trim(option1)) > 0
		AND id not IN (select question_id from test_questions_map where test_id = ${qn_id})
    	order by created_date desc 
    	limit ${lastIndex},10
		
	</select>
	
</mapper>