<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rns.web.edo.service.dao.EdoTestsDao">
	<!-- result maps -->
	<resultMap type="com.rns.web.edo.service.domain.EdoSubject"
		id="chapters">
		<id property="id" column="subject_id" />
		<result property="subjectName" column="subject" />

		<collection property="chapters" javaType="List"
			ofType="com.rns.web.edo.service.domain.EdoChapter">
			<id property="chapterId" column="id" />
			<result property="chapterName" column="chapter_name" />
			<result property="std" column="class" />
		</collection>

	</resultMap>


	<select id="getAllSubjects" resultMap="chapters">
		SELECT * FROM
		test_subjects left join chapters on test_subjects.subject_id =
		chapters.subject;
	</select>

	<insert id="addQuestion" parameterType="com.rns.web.edo.service.domain.EdoQuestion"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		<!-- <foreach collection="test.test" item="question" index="index"> insert 
			into test_result (test_id,student_id,question_id,option_selected,flagged) 
			values(${test.id}, ${student.id},${question.qn_id}, '${question.answer}',0); 
			</foreach> -->
		insert into test_questions
		(subject_id,question,option1,option2,option3,option4,correct_answer,question_img_url,
		solution,weightage,negative_marks,created_date,question_type,exam_type,chapter,
		level, ref_id)
		values
		(${subjectId},'${question}','${option1}','${option2}','${option3}','${option4}','${correctAnswer}','${questionImageUrl}',
		'${solution}',${weightage},${negativeMarks},CURRENT_TIMESTAMP,'${type}','${examType}',${chapter.chapterId},
		${level}, '${referenceId}')
	</insert>

	<select id="getNoOfQuestionsByChapter" resultType="Integer"
		parameterType="Integer">
		select count(*) from test_questions where
		chapter = ${value};
	</select>

	<select id="getNoOfQuestionsByDate" resultType="Integer"
		parameterType="String">
		select count(*) from test_questions where
		created_date >= '${value}';
	</select>

	<select id="getQuestionsByRefId" resultMap="questions"
		parameterType="String">
		select * from test_questions where ref_id =
		'${value}';
	</select>

	<update id="updateQuestion" parameterType="com.rns.web.edo.service.domain.EdoQuestion">
		update test_questions
		set question_img_url = '${questionImageUrl}', solution_img_url =
		'${solutionImageUrl}' where id = ${id}
	</update>

	<insert id="addQuestionsBatch" parameterType="java.util.List">
		insert into test_questions
		(subject_id,question,option1,option2,option3,option4,correct_answer,question_img_url,
		solution,weightage,negative_marks,created_date,question_type,exam_type,chapter,
		level, ref_id)
		values
		<foreach item="question" index="index" collection="list" open="("
			separator="),(" close=")">
			(${question.subjectId},'${question.question}','${question.option1}','${question.option2}','${question.option3}','${question.option4}','${question.correctAnswer}','${question.questionImageUrl}',
			'${question.solution}',${question.weightage},${question.negativeMarks},CURRENT_TIMESTAMP,'${question.type}','${question.examType}',${question.chapter.chapterId},
			${question.level}, '${question.referenceId}')
		</foreach>
	</insert>


	<select id="getNextQuestion" resultMap="questions"
		parameterType="com.rns.web.edo.service.domain.EdoQuestion">
		SELECT * FROM test_questions WHERE 
		<if test="id == null">
		subject_id = ${subjectId} AND
		chapter = ${chapter.chapterId}
		<if test="level != null">
			AND level between ${level - 1} AND ${level}
		</if>
		<if test="type != null">
			AND question_type = '${type}'
		</if>
		ORDER BY RAND() LIMIT 1;
		</if>
		<if test="id != null">
			id = '${id}'
		</if>
		
	</select>

	<select id="getFixableQuestions" resultMap="questions"
		parameterType="map">
		SELECT * FROM test_questions WHERE subject_id = ${subjectId}
		<if test="chapterId != null">
			AND chapter = ${chapterId}
		</if>
		AND (question like '%$$%' OR option1 like '%$$%' OR option2 like
		'%$$%' OR option3 like '%$$%' OR option4 like '%$$%' OR solution like
		'%$$%')
		AND (
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			question like '%${keyword}%'
		</foreach>
		OR
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			option1 like '%${keyword}%'
		</foreach>
		OR
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			option2 like '%${keyword}%'
		</foreach>
		OR
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			option3 like '%${keyword}%'
		</foreach>
		OR
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			option4 like '%${keyword}%'
		</foreach>
		OR
		<foreach item="keyword" index="index" collection="keywords"
			open="(" separator=" OR " close=")">
			solution like '%${keyword}%'
		</foreach>
		)
	</select>

	<update id="fixQuestions" parameterType="java.util.List">

		<foreach collection="list" item="question" index="index" open="" close="" separator=";">
			update test_questions
			<set>
				question = '${question.question}',
				option1 = '${question.option1}',
				option2 = '${question.option2}',
				option3 = '${question.option3}',
				option4 = '${question.option4}',
				solution = '${question.solution}'
			</set>
			where id = ${question.id}
		</foreach>
	</update>
	
	<update id="fixQuestion" parameterType="com.rns.web.edo.service.domain.EdoQuestion">
		update test_questions
			<set>
				question = '${question}',
				option1 = '${option1}',
				option2 = '${option2}',
				option3 = '${option3}',
				option4 = '${option4}',
				solution = '${solution}'
			</set>
			where id = ${id}
	</update>

</mapper>