<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rns.web.edo.service.dao.EdoTestsDao">


	<!-- <select id="getTestResult" resultMap="map"
		parameterType="com.rns.web.edo.service.domain.EdoServiceRequest">

	</select> -->

	<insert id="saveTestResult" parameterType="com.rns.web.edo.service.domain.EdoServiceRequest">
		<!-- <foreach collection="test.test" item="question" index="index">
		insert into test_result (test_id,student_id,question_id,option_selected,flagged) values(${test.id}, ${student.id},${question.qn_id}, '${question.answer}',0);
		</foreach> -->
		insert into test_result (test_id,student_id,question_id,option_selected,flagged,marks, time_taken) values
		<foreach item="question" index="index" collection="test.test" open="(" separator="),(" close=")">
            ${test.id}, ${student.id},${question.qn_id}, '${question.answer}',${question.flagged},${question.marks}, 
            <if test="question.timeSpent == null">
            	0
            </if>
            <if test="question.timeSpent != null">
            ${question.timeSpent}
            </if>
            
        </foreach>
	</insert>
	
	<insert id="saveTestStatus" parameterType="com.rns.web.edo.service.domain.EdoServiceRequest">
		insert into test_status (test_id, student_id, status, solved, correct, flagged, score, updated_date) 
		values(${test.id}, ${student.id}, '${requestType}', ${test.solvedCount}, ${test.correctCount}, ${test.flaggedCount}, ${test.score}, CURRENT_TIMESTAMP);
	</insert>
	
	<update id="updateTestStatus" parameterType="com.rns.web.edo.service.domain.EdoServiceRequest">
		update test_status set solved = ${test.solvedCount}, correct = ${test.correctCount}, score = ${test.score} 
		where test_id = ${test.id} AND student_id = ${student.id}
	</update>
	
	<!-- <update id="updateTestResult" parameterType="com.rns.web.edo.service.domain.EdoServiceRequest">
		<foreach item="question" index="index" collection="test.test" separator=";" >
		update test_result set marks = ${question.marks} where test_id = ${test.id} AND student_id = ${student.id} AND question_id = ${question.qn_id}
		</foreach>
		;
	</update> -->
	
	<update id="updateTestResult" parameterType="map">
		update test_result set marks = ${marks} where test_id = ${test} AND student_id = ${student} AND question_id = ${question}
	</update>
	
	<insert id="addTestResult" parameterType="map">
		insert into test_result (marks, test_id, student_id, question_id, option_selected, flagged) values(${marks}, ${test}, ${student}, ${question}, '${answered}', ${flagged})
	</insert>

	<insert id="addTest" parameterType="com.rns.web.edo.service.domain.EdoTestStudentMap" useGeneratedKeys="true" keyProperty="test.id" keyColumn="test_id">
	insert into test (test_name, no_of_questions, total_marks, duration, status, 
	institute_id, package_id, created_date, start_date, end_date, test_ui, show_result)
	values ('${test.name}', ${noOfQuestions}, ${totalMarks} , ${duration}, 'Active', ${student.currentPackage.institute.id},
	${student.currentPackage.id}, CURRENT_TIMESTAMP, '${test.startDate}', '${test.endDate}', '${test.testUi}', 'Y')
	</insert>
	


</mapper>