<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rns.web.edo.service.dao.EdoTestsDao">
	<!-- result maps -->
	<resultMap id="packages" type="com.rns.web.edo.service.domain.EDOPackage">
		<result column="packageId" property="id" />
		<result column="package_name" property="name" />
		<result column="price" property="price" />
		<result column="institute_id" property="institute.id" />
		<result column="institute_name" property="institute.name" />
		<result column="offline_price" property="offlinePrice" />

	</resultMap>

	<resultMap id="classrooms" type="com.rns.web.edo.service.domain.EDOPackage">
		<result column="id" property="id" />
		<result column="session_name" property="name" />
		<result column="created_date" property="createdDate"/>
		<result column="recording_url" property="videoUrl"/>
	</resultMap>
	
	
	<resultMap id="videoLecture" type="com.rns.web.edo.service.domain.EdoVideoLectureMap">
		<result column="id" property="lecture.id" />
		<result column="video_name" property="lecture.videoName" />
		<result column="video_url" property="lecture.video_url"/>
		<result column="created_date" property="lecture.createdDate"/>
		<result column="subject_id" property="subject.id"/>
		<result column="classroom_id" property="classroom.id"/>
		<result column="institute_id" property="lecture.instituteId"/>
		<result column="subject" property="subject.subjectName"/>
		<result column="package_name" property="classroom.name"/>
		<result column="keywords" property="lecture.keywords"/>
		<result column="question_img" property="lecture.questionImg"/>
	</resultMap>

	<select id="getInstituePackages" resultMap="packages"
		parameterType="Integer">
		select *, packages.id as packageId from institute join
		packages on institute.id =
		packages.institute_id
		where institute.status
		= 'Active' AND
		institute.id =${value};

	</select>

	<select id="getStudentPackages" resultMap="packages"
		parameterType="Integer">
		select *, packages.id as packageId from packages join
		student_institute on student_institute.package_id =
		packages.id
		where
		student_institute.student_id = ${value};

	</select>

	<insert id="saveStudent" parameterType="com.rns.web.edo.service.domain.EdoStudent"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into student
		(name, email, mobile_no, password, roll_no, gender, school_district,
		date_of_birth, caste_category, parent_mobile_no )
		values('${name}',
		'${email}', '${phone}', '${password}', '${rollNo}', '${gender}',
		'${schoolDistrict}', '${dob}', '${casteCategory}',
		'${parentMobileNo}');
	</insert>
	
	<insert id="saveLogin" parameterType="com.rns.web.edo.service.domain.EdoStudent">
		insert into student_login
		(username, password, student_id, institute_id, created_date, student_access)
		values('${rollNo}','${password}', ${id}, ${instituteId}, CURRENT_TIMESTAMP, '${accessType}');
	</insert>

	<update id="updateStudent" parameterType="com.rns.web.edo.service.domain.EdoStudent">
		update student SET
		<if test="name != null">
			name = '${name}' ,
		</if>
		<if test="email != null">
			email = '${email}',
		</if>
		<if test="rollNo != null">
			roll_no = '${rollNo}',
		</if>
		gender = '${gender}' ,
		school_district = '${schoolDistrict}', date_of_birth = '${dob}', caste_category =
		'${casteCategory}'
		where id = ${id}
	</update>

	<insert id="createStudentPackage" parameterType="com.rns.web.edo.service.domain.EdoStudent"
		useGeneratedKeys="true" keyProperty="transactionId" keyColumn="id">
		insert into student_institute
		(student_id,institute_id,package_id,status,exam_mode,payment_mode)
		values
		<foreach item="package" index="index" collection="packages"
			open="(" separator="),(" close=")">
			${id},${package.institute.id},
			${package.id}, '${package.status}', '${examMode}', '${payment.mode}'
		</foreach>
		<!-- (${id},${currentPackage.institute.id}, ${currentPackage.id}, 'Created', 
			'${examMode}', '${payment.mode}') ON DUPLICATE KEY UPDATE exam_mode = '${examMode}', 
			payment_mode = '${payment.mode}' -->
	</insert>

	<delete id="deleteExistingPackages" parameterType="com.rns.web.edo.service.domain.EdoStudent">
		delete from student_institute where
		<foreach item="package" index="index" collection="packages"
			open="(" separator=") OR (" close=")">
			student_id = ${id} AND package_id =
			${package.id}
		</foreach>
	</delete>

	<update id="updatePaymentId" parameterType="com.rns.web.edo.service.domain.EdoStudent">
		UPDATE student_institute set payment_id = '${payment.paymentId}' WHERE
		student_id =
		${id} AND status != 'Completed' AND package_id IN
		<foreach item="package" index="index" collection="packages"
			open="(" separator="," close=")">
			${package.id}
		</foreach>

	</update>

	<update id="updatePayment" parameterType="com.rns.web.edo.service.domain.EdoPaymentStatus">
		UPDATE
		student_institute set status = '${responseText}' WHERE payment_id =
		'${paymentId}';
	</update>

	<select id="getStudentByPhoneNumber" parameterType="com.rns.web.edo.service.domain.EdoPaymentStatus"
		resultMap="studentInfo">
		select * from student where mobile_no =
		'${phone}'
	</select>
	
	<select id="getStudentByRollNo" parameterType="com.rns.web.edo.service.domain.EdoStudent"
		resultMap="studentInfo">
		select * from student where roll_no = '${rollNo}'
	</select>

	<select id="getStudentById" parameterType="Integer" resultMap="studentInfo">
		select * from student_information where id = ${value}
	</select>
	
	<select id="getStudentDetails" parameterType="Integer" resultMap="studentInfo">
		select concat(first_name, ' ', middle_name, ' ', last_name) as first_name,student_information.created_at,
		student_information.mobile_number,username,profile_picture_url,student_information.institute_id from student_information 
		join login_details on student_information.id = login_details.student_id
		where student_information.id = ${value}
	</select>

	<select id="getAllStudents" parameterType="Integer" resultMap="studentInfo">
		select * from student_information join login_details on student_information.id =
		login_details.student_id where student_information.institute_id = ${value}
	</select>
	
	<select id="getStudentDevices" parameterType="map" resultMap="studentInfo">
		select * from student_information join device_id on student_information.id =
		device_id.student_id where student_information.status != 'D' 
		AND (
		<if test="classes != null &amp;&amp; classes != ''">
			student_information.class in (${classes}) 
		</if>
		<if test="divisions != null &amp;&amp; divisions != ''">
			<if test="classes != null &amp;&amp; classes != ''">
				OR 
			</if>
		student_information.division in (${divisions}
		</if>
		)
	</select>

	<select id="getTestPackage" parameterType="Integer" resultMap="packages">
		select * from test join packages on test.package_id = packages.id
		where test.test_id = ${value}
	</select>

	<select id="getStudentByPayment" parameterType="String"
		resultMap="studentInfo">
		SELECT *,student_institute.status as
		paymentStatus FROM student_institute
		join student on student.id = student_institute.student_id
		join packages on
		student_institute.package_id = packages.id
		join institute on
		institute.id = packages.institute_id
		where student_institute.payment_id
		= '${value}';
	</select>
	

<!-- join packages on live_session.classroom_id = packages.id -->
	<select id="getLiveSessions" parameterType="com.rns.web.edo.service.domain.EDOPackage" resultMap="classrooms">
		select * from live_session where classroom_id = ${id} AND status = '${status}' order by created_date desc;
	</select>
	
	<select id="getLiveSession" parameterType="Integer" resultMap="classrooms">
		select * from live_session where id = ${value};
	</select>
	
	<select id="getVideoLectures" parameterType="com.rns.web.edo.service.domain.EdoServiceRequest" resultMap="videoLecture">
	SELECT video_lectures.*, test_subjects.subject,packages.package_name FROM video_lectures
    LEFT JOIN test_subjects ON video_lectures.subject_id = test_subjects.subject_id
    LEFT JOIN packages on video_lectures.classroom_id = packages.id
    WHERE video_lectures.institute_id=${institute.id} AND video_lectures.is_disabled = 0
    <if test="student != null">
    AND 
    (video_lectures.classroom_id IN (select package_id from student_institute where student_id = ${student.id}) OR video_lectures.classroom_id IS NULL)
    </if>
    <if test="lecture != null &amp;&amp; lecture.topicId != null">
    AND video_lectures.topic_id = ${lecture.topicId}
    </if>
    <if test="searchFilter != null">
    AND (video_name like '%${searchFilter}%' OR subject like '%${searchFilter}%' OR package_name like '%${searchFilter}%')
    </if>
    ORDER BY created_date DESC
    <if test = "startIndex != null">
    	LIMIT ${startIndex}, ${startIndex + 10}
    </if>
	
	</select>
	
	<select id="getTestVideoLectures" parameterType="Integer" resultMap="videoLecture">
	SELECT * FROM video_lectures WHERE test_id=${value} AND video_lectures.is_disabled = 0 AND type = 'SOLUTION' ORDER BY created_date DESC
	</select>
	
	<select id="getStudentLogin" parameterType="com.rns.web.edo.service.domain.EdoStudent" resultMap="loginInfo">
		select * from student_login 
		join institute on student_login.institute_id = institute.id 
		join student on student_login.student_id = student.id 
		where student_login.username = '${rollNo}'
	</select>
	
	<insert id="saveVideoActiviy" parameterType="com.rns.web.edo.service.domain.EdoServiceRequest" >
		insert into classwork_activity
		(status, read_at, 
		<if test="feedback.id != null">
			content_id, 
		</if>
		<if test="student.id != null">
			read_by, 
		</if>
		<if test="feedback.percentViewed != null">
			percentage, 
		</if>
		<if test="feedback.durationViewed != null">
			duration, 
		</if>
		downloaded)
		values('${requestType}', CURRENT_TIMESTAMP, 
		<if test="feedback.id != null">
			${feedback.id}, 
		</if>
		<if test="student.id != null">
			${student.id},
		 </if>
		<if test="feedback.percentViewed != null">
			${feedback.percentViewed},
		</if>
		<if test="feedback.durationViewed != null">
			${feedback.durationViewed},  
		</if>
		${feedback.downloaded})
	</insert>
	
	<select id="getStudentActivityCount" resultType="Integer" parameterType="Integer">
		select count(*) from classwork_activity where content_id = ${feedback.id} AND read_by = ${student.id};
	</select>
	
	<select id="getAllPendingStudents" resultMap="studentInfo" parameterType="com.rns.web.edo.service.domain.EdoServiceRequest">
		SELECT * FROM student_information 
		join admissions on admissions.student_id = student_information.id
		where student_information.status = 'P' AND time_slot IS NOT NULL AND student_information.institute_id = ${institute.id}
		<if test="searchFilter != null">
		AND student_information.id in (${searchFilter});
		</if>
	</select>
	
	<select id="getAdmissionStudents" resultMap="studentInfo" parameterType="com.rns.web.edo.service.domain.EdoServiceRequest">
		SELECT * FROM student_information 
		join admissions on admissions.student_id = student_information.id
		where student_information.flag = '${requestType}' AND time_slot IS NOT NULL AND student_information.institute_id = ${institute.id}
		<if test="searchFilter != null">
		AND student_information.id in (${searchFilter});
		</if>
	</select>

</mapper>